In [98]:
from konlpy.tag import Okt
from tqdm import tqdm
import pandas as pd

# 형태소 추출

In [2]:
okt = Okt()

In [3]:
loaded_data = pd.read_csv("./data/20230129_society.csv")

In [4]:
# 한글, 숫자, 공백만 남기기
loaded_data['content'] = loaded_data['content'].str.replace('[^0-9ㄱ-ㅎㅏ-ㅣ가-힣 ]', '')

C:\Users\pros0\AppData\Local\Temp\ipykernel_7812\3080468714.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  loaded_data['content'] = loaded_data['content'].str.replace('[^0-9ㄱ-ㅎㅏ-ㅣ가-힣 ]', '')

In [5]:
# 불용어 불러오기
with open('./stopwords.txt', 'r', encoding='utf-8') as f:
    stopwords = f.readlines()
stopwords = [line.rstrip('\n') for line in stopwords]

In [6]:
token_contents = []
for content in tqdm(loaded_data['content']):
    token_content = okt.morphs(content, norm=True, stem=True)
    token_content_filtered = [word for word in token_content if not word in stopwords]
    token_contents.append(' '.join(token_content_filtered))

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1383/1383 [00:55<00:00, 24.85it/s]

In [7]:
loaded_data['token'] = token_contents

In [8]:
loaded_data

,Unnamed: 0,arcid,press,title,content,journalist,date,link,category,token
0,0,235502989,한겨레,1월30일 궂긴소식,조규용씨 별세 배월선씨 남편 세현사진작가 서울 중구문화재단 사장 종현 정우 기정씨...,한겨레 기자,20230129,https://v.daum.net/v/20230129235502989,society,조 규 용씨 별세 배월 선씨 남편 세 현 사진작가 서울 중구 문화재단 사장 종현 정...
1,1,234609963,조선일보,갑자기 버스 세우더니 불길 속으로…‘소방차 10대’ 역할한 남성,자칫 대형 화재가 될 뻔했던 불길이 시내버스 기사의 신속한 초동 대처로 빠르게 진압...,박선민 기자,20230129,https://v.daum.net/v/20230129234609963,society,자칫 대형 화재 되다 뻔하다 불길 시내버스 기사 신속하다 초동 대처 빠르다 진압됐다...
2,2,234000935,뉴시스,부산 동래구 교차로서 5중 충돌사고…5명 중·경상,부산뉴시스이동민 기자 29일 오후 6시 5분께 부산 동래구의 교차로에서 달리던 그...,이동민 기자,20230129,https://v.daum.net/v/20230129234000935,society,부산 뉴시스 동민 기자 29일 오후 6시 5분 께 부산 동래구 교차로 달리다 그랜저...
3,3,233948934,뉴시스,"통영해경, 용남면 뱀섬 인근 침수어선 구조…인명피해 및 해양오염 없어",기사내용 요약 침수어선 사천에서 마산으로 이동중 암초에 좌초 통영뉴시스 신정철 기자...,신정철 기자,20230129,https://v.daum.net/v/20230129233948934,society,기사 내용 요약 침수 어선 사천 마산 이동 중 암초 좌초 통영 뉴시스 신 정철 기자...
4,4,233453917,조선일보,"법원, ‘창원간첩단 사건’ 관련자 4명 체포적부심 기각",국가보안법 위반 혐의로 지난 28일 체포됐던 이른바 창원간첩단 사건 관련자 4명이 ...,허욱 기자,20230129,https://v.daum.net/v/20230129233453917,society,국가보안법 위반 혐의 지난 28일 체포 돼다 이른바 창원 간첩 단 사건 관련 4 명...
...,...,...,...,...,...,...,...,...,...,...
1378,1378,45006203,연합뉴스,영유아 코로나 예방접종 내일부터 예약…8주 간격 3회 접종,서울연합뉴스 김영신 기자 생후 6개월에서 4세까지 영유아를 대상으로 한 코로나19...,김영신 기자,20230129,https://v.daum.net/v/20230129045006203,society,서울 연합뉴스 김영신 기자 생후 6 개월 4 세 유아 대상 하다 코로나 19 예방접...
1379,1379,44506197,연합뉴스,내일부터 실내마스크 착용 '자유'…대중교통·병원선 꼭 써야,서울연합뉴스 조민정 기자 30일부터 대중교통 병원 등 일부 시설을 제외하곤 실내에...,조민정 기자,20230129,https://v.daum.net/v/20230129044506197,society,서울 연합뉴스 조 민정 기자 30일 대중교통 병원 일부 시설 제외 곤 실내 에서도 ...
1380,1380,40018123,뉴시스,[오늘날씨]최저 영하 16도 한파…전국 곳곳 눈 소식,기사내용 요약 아침 최저 160도 낮 최고 17도 충남전라 서해안 01 강원 13 ...,전재훈 기자,20230129,https://v.daum.net/v/20230129040018123,society,기사 내용 요약 아침 최저 160 도 낮 최고 17 도 충남 전라 서해안 01 강원...
1381,1381,13006035,문화일보,"이케아 광명점 천장 누수…승강기에 갇힌 고객, 매장 바닥은 물바다",수도권 주민들이 쇼핑을 위해 많이 찾는 경기 광명시 이케아 매장에서 천장 누수가 발...,오남석 기자,20230129,https://v.daum.net/v/20230129013006035,society,수도권 주민 쇼핑 위해 많이 찾다 경기 광명시 이케아 매장 천장 누수 발생 영업 장...
1382,1382,1113879,세계일보,"교원평가 성희롱, 교권 붕괴와 젠더 권력의 콜라보 [정지혜의 빨간약]",여론은 학생이 선생님에게 어떻게 그런 말을 할 수 있냐고 놀랍니다 하지만 현재 교육...,정지혜 기자,20230129,https://v.daum.net/v/20230129001113879,society,여론 은 학생 선생님 어떻다 그렇다 말 하다 수 현재 교육 현장 이렇다 성희롱 은 ...

# 모든 csv 형태소 추출

In [96]:
from glob import glob

In [100]:
def content_tokenizer(df_day):
    # 한글, 숫자, 공백만 남기기
    df_day['content'] = df_day['content'].str.replace('[^0-9ㄱ-ㅎㅏ-ㅣ가-힣 ]', '', regex=True)
    token_contents = []
    date_s = str(df_day['date'].values[0]).strip()
    for content in tqdm(df_day['content'], desc=date_s):
        token_content = okt.morphs(content, norm=True, stem=True)
        # 불용어 처리
        token_content_filtered = [word for word in token_content if not word in stopwords]
        token_contents.append(' '.join(token_content_filtered))
    df_day['token'] = token_contents
    return df_day

In [101]:
files = glob('./data/*.csv')
for file in files:
    df_day = pd.read_csv(file)
    date_s = file.split('\\')[-1].split('_')[0]
    df_day = content_tokenizer(df_day)
    df_day.to_csv(file, index=False)

20230129: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1383/1383 [00:44<00:00, 31.42it/s]
20230130: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3430/3430 [01:55<00:00, 29.81it/s]
20230131: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3200/3200 [01:58<00:00, 26.99it/s]

# 유사도 추천

In [102]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [103]:
loaded_data = pd.read_csv("./data/20230129_society.csv")

In [104]:
ftidf_vec = TfidfVectorizer()

In [105]:
tfidf_dtm = ftidf_vec.fit_transform(loaded_data['token'])

In [106]:
cos_sim_res = cosine_similarity(tfidf_dtm, tfidf_dtm)

In [107]:
arcid_to_index = dict(zip(loaded_data['arcid'], loaded_data.index))

In [108]:
def get_recommend(title, n):
    arcid = loaded_data.loc[loaded_data['title'] == title]['arcid'].values[0]
    idx = arcid_to_index[arcid]
    sim_scores = list(enumerate(cos_sim_res[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores_n = sim_scores[1:n+1]
    sim_scores_n = [sim for sim in sim_scores_n if sim[1] >= 0.6] # 유사도 60% 이상 필터
    article_idx = [article_dict[0] for article_dict in sim_scores_n]
    rst  = loaded_data.iloc[article_idx][['title', 'date', 'link']]
    rst['similarity'] = [round(sim[1], 4)*100 for sim in sim_scores_n]
    return rst[['similarity', 'title', 'date', 'link']]

In [109]:
get_recommend("갑자기 버스 세우더니 불길 속으로…‘소방차 10대’ 역할한 남성", 5)

,similarity,title,date,link
85,70.82,"""소방차 10대 역할"" 119도 놀랐다…참사 막은 버스기사의 기지",20230129,https://v.daum.net/v/20230129185658951
130,66.62,버스 세우고 소화기 들고 상가 불끄러 간 경주 60대 기사…큰 불 막아,20230129,https://v.daum.net/v/20230129174944815
60,62.26,"“할 일 했을 뿐…” 경주 시내버스 기사, 소화기로 상가 화재 막았다",20230129,https://v.daum.net/v/20230129203005750

# 데이터 모두 불러와 합치기

In [110]:
from glob import glob

In [116]:
files = sorted(glob('./data/*.csv'))
date_cols = ['date']
data_all = pd.DataFrame()
for file in tqdm(files):
    df_day = pd.read_csv(file, parse_dates=date_cols) # date 컬럼 datetime 형식으로 불러오기
    data_all = pd.concat([data_all, df_day])
data_all.reset_index(drop=True, inplace=True)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00,  6.02it/s]

In [117]:
data_all

,arcid,press,title,content,journalist,date,link,category,token
0,235502989,한겨레,1월30일 궂긴소식,조규용씨 별세 배월선씨 남편 세현사진작가 서울 중구문화재단 사장 종현 정우 기정씨...,한겨레 기자,2023-01-29,https://v.daum.net/v/20230129235502989,society,조 규 용씨 별세 배월 선씨 남편 세 현 사진작가 서울 중구 문화재단 사장 종현 정...
1,234609963,조선일보,갑자기 버스 세우더니 불길 속으로…‘소방차 10대’ 역할한 남성,자칫 대형 화재가 될 뻔했던 불길이 시내버스 기사의 신속한 초동 대처로 빠르게 진압...,박선민 기자,2023-01-29,https://v.daum.net/v/20230129234609963,society,자칫 대형 화재 되다 뻔하다 불길 시내버스 기사 신속하다 초동 대처 빠르다 진압됐다...
2,234000935,뉴시스,부산 동래구 교차로서 5중 충돌사고…5명 중·경상,부산뉴시스이동민 기자 29일 오후 6시 5분께 부산 동래구의 교차로에서 달리던 그...,이동민 기자,2023-01-29,https://v.daum.net/v/20230129234000935,society,부산 뉴시스 동민 기자 29일 오후 6시 5분 께 부산 동래구 교차로 달리다 그랜저...
3,233948934,뉴시스,"통영해경, 용남면 뱀섬 인근 침수어선 구조…인명피해 및 해양오염 없어",기사내용 요약 침수어선 사천에서 마산으로 이동중 암초에 좌초 통영뉴시스 신정철 기자...,신정철 기자,2023-01-29,https://v.daum.net/v/20230129233948934,society,기사 내용 요약 침수 어선 사천 마산 이동 중 암초 좌초 통영 뉴시스 신 정철 기자...
4,233453917,조선일보,"법원, ‘창원간첩단 사건’ 관련자 4명 체포적부심 기각",국가보안법 위반 혐의로 지난 28일 체포됐던 이른바 창원간첩단 사건 관련자 4명이 ...,허욱 기자,2023-01-29,https://v.daum.net/v/20230129233453917,society,국가보안법 위반 혐의 지난 28일 체포 돼다 이른바 창원 간첩 단 사건 관련 4 명...
...,...,...,...,...,...,...,...,...,...
8008,254932,중앙일보,사료값만 1억원…한우 농가 “소 먹이 주는 것도 겁나”,20년간 한우를 키우면서 볏짚 가격이 이렇게 비싼 적은 처음입니다 소먹이에만 1억원...,김정석 기자,2023-01-31,https://v.daum.net/v/20230131000254932,society,20년 간 한우 키우다 볏짚 가격 이렇게 비싸다 적다 처음 이다 소 먹이 에만 1억...
8009,244929,중앙일보,1㎏에 3만5000원…벌교 참꼬막이 ‘갯벌 진주’ 된 이유,예전엔 아짐아주머니 한 분이 1도 넘게 잡았제 키로에 1000원 하던 꼬막이 지금은...,최경호 기자,2023-01-31,https://v.daum.net/v/20230131000244929,society,예전 엔 짐 아주머니 하다 분 1 도 넘다 잡다 키로 1000원 하다 꼬막 지금 은...
8010,242928,중앙일보,"[사진] 나흘 뒤면 입춘, 매화꽃도 기지개 펴요",전국에 한파가 몰아친 30일 입춘을 닷새 앞두고 부산 남구 동명대학교 본관 앞 정원...,송봉근 기자,2023-01-31,https://v.daum.net/v/20230131000242928,society,전국 한파 몰아치다 30일 입춘 닷새 앞두다 부산 남구 동명대학교 본관 앞 정원 매...
8011,240927,중앙일보,“일할 사람 구합니다”…한국 최고 ‘부자도시’가 소멸 위기?,1인당 지역총소득 5935만원 지역내총생산 6913만원 각각 5421만원4965만원...,김윤호 기자,2023-01-31,https://v.daum.net/v/20230131000240927,society,1 이다 지역 총 소득 5935만원 지역 내 총 생산 6913만원 5421만원 49...
8012,237925,중앙일보,"동아대, 13년만에 등록금 인상…전국 사립대 중 처음",부산 동아대가 전국 4년제 사립대학 중 13년 만에 처음으로 등록금 인상을 결정했다...,"안대훈, 김민주 기자",2023-01-31,https://v.daum.net/v/20230131000237925,society,부산 동아대 전국 4년 사립 대학 중 13년 만에 처음 등록금 인상 결정 하다 30...

# 전체 데이터 유사도 추천

In [102]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [104]:
ftidf_vec = TfidfVectorizer()

In [118]:
tfidf_dtm = ftidf_vec.fit_transform(data_all['token'])

In [119]:
cos_sim_res = cosine_similarity(tfidf_dtm, tfidf_dtm)

In [120]:
arcid_to_index = dict(zip(data_all['arcid'], data_all.index))

In [139]:
def get_recommend(title, n, drange=False):
    arcid = data_all.loc[data_all['title'] == title]['arcid'].values[0]
    idx = arcid_to_index[arcid]
    sim_scores = list(enumerate(cos_sim_res[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores_n = sim_scores[1:n+1]
    sim_scores_n = [sim for sim in sim_scores_n if sim[1] >= 0.6] # 유사도 60% 이상 필터=>옵션화 가능?###############
    article_idx = [article_dict[0] for article_dict in sim_scores_n]
    rst  = data_all.iloc[article_idx][['press', 'title', 'date', 'link']]
    rst['similarity'] = [round(sim[1], 4)*100 for sim in sim_scores_n]
    # 기간 설정
    if drange:
        rst = rst[rst['date'].isin(pd.date_range(drange[0], drange[1]))]
        # rst = rst.query('@drange[0] <= date <= @drange[1]')
    return rst[['press', 'similarity', 'title', 'date', 'link']]

In [140]:
get_recommend("갑자기 버스 세우더니 불길 속으로…‘소방차 10대’ 역할한 남성", 5)

,press,similarity,title,date,link
85,중앙일보,71.28,"""소방차 10대 역할"" 119도 놀랐다…참사 막은 버스기사의 기지",2023-01-29,https://v.daum.net/v/20230129185658951
130,뉴스1,66.32,버스 세우고 소화기 들고 상가 불끄러 간 경주 60대 기사…큰 불 막아,2023-01-29,https://v.daum.net/v/20230129174944815
4660,국민일보,65.34,“소방차 10대 역할”…불길 보고 달려간 버스기사 [영상],2023-01-30,https://v.daum.net/v/20230130051613408
4506,동아일보,62.87,상가 불길 치솟자…소화기 들고 달려간 버스 기사,2023-01-30,https://v.daum.net/v/20230130083006817
60,경향신문,62.37,"“할 일 했을 뿐…” 경주 시내버스 기사, 소화기로 상가 화재 막았다",2023-01-29,https://v.daum.net/v/20230129203005750

In [141]:
get_recommend("갑자기 버스 세우더니 불길 속으로…‘소방차 10대’ 역할한 남성", 5, drange=['2023-01-29', '2023-01-29'])

,press,similarity,title,date,link
85,중앙일보,71.28,"""소방차 10대 역할"" 119도 놀랐다…참사 막은 버스기사의 기지",2023-01-29,https://v.daum.net/v/20230129185658951
130,뉴스1,66.32,버스 세우고 소화기 들고 상가 불끄러 간 경주 60대 기사…큰 불 막아,2023-01-29,https://v.daum.net/v/20230129174944815
60,경향신문,62.37,"“할 일 했을 뿐…” 경주 시내버스 기사, 소화기로 상가 화재 막았다",2023-01-29,https://v.daum.net/v/20230129203005750